@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Red+Hat+Display:wght@700;900&family=Roboto:wght@500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
.AboutMe_Container {
  background: rgba(20, 20, 22, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  z-index: 1;
  width: 100%;
  height: 120vh;
  position: relative;
  display: grid;
  place-content: center;
  padding: 5rem;
}
.TitleNameOne{
    margin-bottom: 1rem;
}

.Background_Gif_AboutMe {
  opacity: 0.2;
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://i.pinimg.com/originals/d4/0c/d2/d40cd2f009ed7a0812bb4298de3c3b07.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-self: center;
  object-fit: cover;
  border-radius: inherit;
}


